@import "general-styles.css";

body {
    font-family: var(--header-font);
}

main {
    margin: 2rem;
    display: grid;
    grid-template-columns: 2;
}

.left-side-details {
    grid-column: 1/1;
    justify-items: center;
}

img {
    max-height: 40rem;
    border-radius: 1rem;
    margin: 2rem;
}

.right-side-details {
    grid-column: 2/3;
    margin: 2rem;
    justify-items: center;
    max-width: 50rem;
}

.tags {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.tags p {
    color: var(--header-on-dark);
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 0.33rem;
}