@import "general-styles.css";

body {
    font-family: var(--header-font);
}

main {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    align-items: start;
    padding: 1rem;
}

.left-side-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side-details img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin: 1rem 0;
}

.right-side-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.tags {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.tags p {
    color: var(--header-on-dark);
    background-color: var(--primary-color);
    padding: 0.75rem 1rem;
    border-radius: 0.33rem;
    font-size: 0.9rem;
    margin: 0;
}


@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem auto;
    }

    .left-side-details img {
        max-width: 90vw;
        margin: 1rem auto;
    }

    .right-side-details {
        text-align: left;
        padding: 0 1rem;
    }

    .tags {
        justify-content: flex-start;
    }
}

  